{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body style="background-color:blue;color:brown">
    <div>
        <center>
    <form method="POST" style="background-color:aqua;color:red; width:500px;height:max-content">
        {% csrf_token %}
        {{EFO.as_p}}
        <input type="submit" value="submit">
    </form>
</center>
</div>
</body>
</html>